{% extends "base.html" %}

{% load static %}
{% block content %}



 
     
            <div style="margin-top:20vh;display:grid;justify-content: center;align-content:center;">
                <div style="display:grid">
                    <table>

                    <tbody>
                    {% for item in order.items.all %}
                    <tr>
                   
                    <td class="product-thumbnail">
                        <img src="{{ item.product.image.url }}" class="img-fluid" style="height:22rem;padding:.5rem">
                    </td>

 
                     <td>
                     <!--
                        <div class="input-group mb-3" style="max-width: 120px;">
                            <div class="input-group-prepend">
                                <a href="{% url 'cart:decrease-quantity' item.id %}" class="btn btn-outline-primary">
                                 &minus;
                                 </a>
                            </div>
                            -->
                            <input type="text" class="form-control text-center"
                            value="{{ item.quantity }}" readonly style="width:4rem"
                            >
                            <!--
                            <div class="input-group-append">
                                <a href="{% url 'cart:increase-quantity' item.id %}" class="btn btn-outline-primary">
                                 &plus;
                                 </a>
                            </div>
                            -->
                      
                     </td>   
                     <td>
                     $ {{ item.get_total_item_price }}
                     </td>
                     <td>
                     <a href="{% url 'cart:remove-from-cart' item.id %}" class="btn btn-primary btn-sm">X</a>
                     </td>
                    </tr>

                    {% empty %}
                        <div colspan="6" style="text-align: center;margin-top:15vh;padding-bottom:2rem">
                        There are no items in your cart 
                        <a href="{% url 'cart:product-list'%}">
                        Continue Shopping
                        </a>
                        <img src="{%static 'images/cart.svg'%}" style="height:15rem;margin-left:auto;margin-right:auto;margin-top:1rem">
                        <div>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>      
       

        {% if order.items.count > 0 %}
        
           
                        
                    <div class="col-md-12">
                    <a class="btn btn-outline-primary btn-sm btn-block"  style="font-size:2rem" href="{% url 'cart:product-list' %}">Continue Shopping</a>
                    </div>
                  
                        <div class="col-md-12 text-right border-bottm mb-5">
                            <h3 class="text-black h4 text-uppercase text-center mt-3">Cart Totals</h3>
                        </div>

                                 <div class="col-md-12" style="text-align: center">       
                            <span> Subtotal</span> 
                       
                            <strong class="text-black">${{ order.get_subtotal }}</strong>                  
                            <span class="text-black"> Total</span>
                            <strong class="text-black">${{ order.get_total }}</strong>
                         </br>
                                               <a class="btn btn-primary btn-md" href="{% url 'cart:checkout' %}" style="margin-bottom:1rem;">Checkout</a>   
                                                
                    </div>
           

                       
          
      
     

 
        {% endif %}
          </div>
 </div>
  


{% endblock content %}