{% extends "base.html" %}
{% load static %}
{% load cart_template_tags %}

{% block content %}

<style>


.products { 
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width:940px) {
  .products { 
    grid-template-columns: 2fr 2fr;
  }
}


.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}


.inner:hover img {
  transform: scale(.9);
}


.breadcrumb:hover{
  color:#333;
}


.cat { 
  color:#fdb827;
}

</style>











<section style="background-image: url({% static 'images/basketball.png' %});background-color: #e0a070;padding-bottom:1rem">
  <!-- Breadcrumb -->
  <section id="bc" style="margin-top:20rem">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item fade-in">
            <a href="{% url 'index' %}" style="color:#092532">
              <i class="fas fa-home"></i> Home</a>
          </li>
                       {% for category in categories %}
                        <li>
                        <a class="cat" href="?category={{ category.name }}" style="font-size:2rem;"><strong>{{ category.name }}</strong></a>
                        </li>
                        {% endfor %}
        </ol>
      </nav>
    </div>
  </section>




        <section style="display:grid;justify-content: center;align-content:center;">
        <div class="products" style="display:grid;column-gap: 1rem;">
            {% for product in object_list %}

                 
                <div style="text-align:center;">

                <figure class="block-4-image">
                    <a href="{{ product.get_absolute_url }}">
                    <div class="inner">
                    <img src="{{ product.image.url }}" class="img-fluid" style="height:25rem;width:30rem;border-radius:2rem;padding:.5rem"></a>
                    </div>
                </figure>


                <div class="block-4-text p-4">
                <a href="{{ product.get_absolute_url }}">
                <h3> {{ product.title }} </h3>
               
             
                <button style="color:#fff;padding:1.2rem;display:block;background-color:#393e46;margin-left:auto;margin-right:auto"><strong>{{ product.description}} Buy Now</strong></button>
                 </a>
                </div>
                    </div>
               
                    {% endfor %}
</div>
        </section>

</section>

 {% include 'scripts.html' %}

{% endblock content %}