{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}












			<div id="home" class="banner">


	        	<div class="rev_slider_wrapper">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
						<div id="main-banner-slider" class="rev_slider video-slider" data-version="5.0.7">
							<ul>

								<!-- SLIDE1  -->
								<li data-index="rs-280" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"  data-title="The Future is in motion" data-description="">
									<!-- MAIN IMAGE -->
									<img src="{% static 'bizpro/images/home/slide-1.jpg' %}"  alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['-58','-58','0','-50']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="1000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on"
										style="z-index: 6; white-space: nowrap;">
										<h1>BullishBreaks</h1>
									</div>

									<!-- LAYER NR. 2  -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['-05','-05','63','0']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="2000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on"
										style="z-index: 6; white-space: nowrap;">
										<h6><strong>Rare Sports<em>Memorabilia</em></strong></h6>
									</div>


									<!-- LAYER NR. 3 -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['52','52','125','80']"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:4000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="4000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on">

									</div>

								</li>


							
								<li data-index="rs-20" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="video/drinkwinecover.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Mutate Evolve Grow" data-description="">
									
									<img src="{% static 'bizpro/video/mutate.svg' %}"  alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="50000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
								

								
									<div class="rs-background-video-layer"
										data-forcerewind="on"
										data-volume="mute"
										data-videowidth="100%"
										data-videoheight="100%"
										data-videomp4="{%static 'bizpro/video/Mcode.mp4' %}"
										data-videopreload="preload"
										data-videoloop="1"
										data-forceCover="1"
										data-aspectratio="16:9"
										data-autoplay="true"
										data-autoplayonlyfirsttime="false"
										data-nextslideatend="true"
									></div>

							
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['-58','-33','-33','-100']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="4000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on"
										style="z-index: 6; white-space: nowrap;">
										<h1>Flexible Custom Designs</h1>

									</div>

									
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['-05','93','93','20']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="2000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on"
										style="z-index: 6; white-space: nowrap;">
										<h6>Web Dev, Dev Ops, and more</h6> 
									</div>


								
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['52','185','185','105']"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="3000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on">

									</div>
								</li>

								<!-- SLIDE3  -->
								<li data-index="rs-18" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/home/slide-2.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Title Goes Here" data-description="">
									<!-- MAIN IMAGE -->
									<img src="{% static 'bizpro/images/home/slide-2.svg' %}"  alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="40000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['-58','-33','-33','-100']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="1000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on"
										style="z-index: 6; white-space: nowrap;">
											<h1 style="color:#333"><em>Authentic Sports Cards</em></h1>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['-05','93','93','20']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="2000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on"
										style="z-index: 6; white-space: nowrap;">
			
									</div>


									<!-- LAYER NR. 3 -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['middle','middle','middle','middle']" data-voffset="['52','185','185','105']"
										data-transform_idle="o:1;"

										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
										data-mask_in="x:0px;y:[100%];"
										data-mask_out="x:inherit;y:inherit;"
										data-start="3000"
										data-splitin="none"
										data-splitout="none"
										data-responsive_offset="on">

									</div>
								</li>
							</ul>
						</div>
					</div><!-- END REVOLUTION SLIDER -->
	        </div> <!--  /#banner -->









<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Card Search
          </h1>
          <p class="lead">Find Rare Sports Cards</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">

              <div class="col-md-4 mb-3">
                <label class="sr-only">Name</label>
                <input type="text" name="title" class="form-control" placeholder="Kobe Bryant" value="{{ values.title }}">
              </div>



<!--
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                </div>

-->

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">Teams (All)</option>
                    {% for key,value in state_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
            
<!--
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
				-->
                
              <button type="submit" style="background-color:#bbbbbb;border-radius:2rem;color:#fff;width:8%;margin-left:2rem;margin-top:1rem">Search</button>
			 
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings service-section" class="py-5" style="padding-bottom:2rem">
    <div class="container">
      <h3 class="text-center" style="padding-bottom:1.5rem">Premium Collection</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" style="height:27rem;width:30em;border-radius:2rem">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title }}</h4>
					<!--
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
					  -->
                  </div>

                  <hr>
				  <!--
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
					
                      <i class="fas fa-user"></i> {{ listing.realtor }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                  </div>
                  <hr> -->
                  <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>





	<!--
			=====================================================
				Service Section
			=====================================================
			-->
			<div id="service-section">
				<div class="container">
					<div class="theme-title">
						<h2>Premium Collection</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
					</div>

		
	<div class="row">

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"> <img class="card-img-top img-fluid" src="{% static 'bizpro/images/kobe.jpg' %}" alt="">
                   </div>
									<h6><a href="/" class="tran3s">Kobe</a></h6>
								</div>
								<p>tt sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->
		





								<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"> <img class="card-img-top img-fluid" src="{% static 'bizpro/images/kobe.jpg' %}" alt="">
                   </div>
									<h6><a href="/" class="tran3s">Kobe</a></h6>
								</div>
								<p>tt sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->
		


								<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"> <img class="card-img-top img-fluid" src="{% static 'bizpro/images/kobe.jpg' %}" alt="">
                   </div>
									<h6><a href="/" class="tran3s">Kobe</a></h6>
								</div>
								<p>tt sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->
		

					</div> <!-- /.row -->


				</div> <!-- /.container -->
			</div> <!-- /#service-section -->


	  
			<!--
			=====================================================
				Page middle banner
			=====================================================
			-->

			<div class="page-middle-banner">
				<div class="opacity">
					<h3>We Create Creative <span class="p-color">&amp;</span> Best Unique Design</h3>
					<a href="#" class="hvr-bounce-to-right">Let's Work Together</a>
				</div> <!-- /.opacity -->
			</div> <!-- /.page-middle-banner -->


{% endblock %}